doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul
        li.first 
          a(href='/') Home
        li 
          a(href='/users') Users
        li  
          a(href='/users/new') Add new user
        li  
          a(href='#') A link
        li  
          a(href='#') A link
    div.content
      block content

    footer
      p A very sexy footer