doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div.title
          span= "Pepito Pizzeria"
      unless (authRequired)
        ul.menu
          li.first
            a(href='/') Home
          li 
            a(href='/users/create') Create user
          li 
            a(href='/users/update') Update user
          li 
            a(href='/users') List user
         
    div.content
      block content

    footer
      p Copyright © 2014 Pepito-Pizzeria. All rights reserved.