doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.10.2.js")
    script.
      var active_tab= !{JSON.stringify(active)}

    script(src="/javascripts/active.js")
  body
    header
      div.title
          span= "Pepito Pizzeria"

      unless (authRequired)
        ul.menu
          li.first#home
            a(href='/') Home
          li#account
            a(href='/users/update') My account
          li#listuser
            a(href='/users') List user
          li#logout
            a(href='/logout') Logout
         
    div.content
      block content

    footer
      p Copyright © 2014 Pepito-Pizzeria. All rights reserved.