extends layout

block content

    link(rel="stylesheet", href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(src="/javascripts/datepicker.js")
    script(src="/javascripts/validateform.js")
    link(rel="stylesheet" href="/resources/demos/style.css")

    h1= header
    form#formAddUser(name="adduser",method="post",action="users/add")
    
        input#inputUserName(type="text", placeholder="Complete name", name="username")

        br
        
        input#datepicker(type="text", name="date", disabled="true")
            
        br
        
        input#inputUseraddress(type="text", placeholder="Complete address", name="address")
        
        br
        
        input#inputUserPhone(type="text", placeholder="Phone number", name="phone")
        
        br

        input#inputUserEmail(type="text", placeholder="Email", name="email" onchange="validateEmail();")

        br
        
        input#password(type="password", placeholder="Password", name="password", onchange="validatePassword();")
        
        br
        
        input#password2(type="password", placeholder="Password (again)", name="userpassword2", onchange="validatePassword();")
        
        br
        
        span(id="message")
        
        br
        
        button#btnSubmit.sexybutton(type="submit") submit