extends layout

block content

    link(rel="stylesheet", href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src="//code.jquery.com/jquery-1.10.2.js")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(type="text/javascript" src="/javascripts/validateform.js")
    script(type="text/javascript" src="/javascripts/datepicker.js")

    h1= header
    form#formAddUser(name="adduser",method="post",action="users/add")
    
        label Username
        input#inputUserName(type="text", placeholder="Complete name", name="username")
        br

        label Birthdate
        input#datepicker(type="text", name="birthdate", placeholder="click icon" readonly)
        br
        
        div.addressDiv
            
            label Adresse
            
            input#inputUseraddress(type="text", placeholder="Complete address", name="address" data-num="1")
            button#addAddress(type="button" onclick="addAddressInput()") Add

            br

            label Postal Code

            input#inputUserPostalCode(type="text", placeholder="Complete postal code", name="postal" data-num="1")

        br
        
        label Phone
        input#inputUserPhone(type="text", placeholder="Phone number", name="phone")
        br

        label Email
        input#inputUserEmail(type="text", placeholder="Email", name="email")
        span(id="messageEmail")
        br
        
        label Password
        input#password(type="password", placeholder="Password", name="password", required)
        br

        label Valid Password
        input#password2(type="password", placeholder="Password (again)", name="userpassword2")
        
        span(id="messagePass")
        
        br
        
        script(type="text/javascript").
            validateLengthMin('inputUserName', 3, 'Please, enter your name');
            validateLengthMin('inputUseraddress', 5, 'Please, enter an address');
            validateRegex('inputUserPhone', '^([0-9\(\)\/\+ \-]*)$', 'Please, enter a valid phone number');
            validateLengthMin('datepicker', 3, 'Please, enter your birthdadte by clicking on the icon');
            validateEmail('inputUserEmail', 'Please, enter a valid email address');
            validatePassword('password', 'password2', 'Passwords dont match');
        
        button#btnSubmit.sexybutton(type="submit") submit
