body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    background-color: black;
    height: 60px;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 13px 0px rgba(50, 50, 50, 0.75);
}

div.content, footer{
    margin-left: 30px;
}

footer{
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}

header ul{
    margin: 0px;
    padding: 0px;
}

header li{
    display: inline-block;
    padding-left: 10px;
    padding-top: 21px;
    padding-right: 10px;
    margin-right: 10px;
    height: 39px;
    cursor: pointer;
}

header li:hover{
    background-color: rgba(255,255,255,0.25);
}

header li>a{
    text-decoration: none;
    color: white;
}

header .title{
    margin-left: 30px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top:10px;
    height: 50px;
    display: block;
    float: left;
    color: white;
    background: url(../images/pizza_slice.png) no-repeat scroll 0px 1px;
    background-size:32px 32px;
    padding-left: 35px;
    cursor: pointer;
}

header .title>span{
    font-size: 30px;
}

.loginPage{
    text-align:center;
    margin: auto;
    width: 250px;
}

.loginPage input{
    height: 30px;
    padding-left:35px;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.loginPage input[type="text"]{
     background: url(../images/pizza_pencil.png) no-repeat scroll 0px 1px;
     background-size:32px 32px;
}

.loginPage input[type="password"]{
     background: url(../images/pizza_lock.png) no-repeat scroll 0px 1px;
     background-size:32px 32px;
}

div.loginfo{
    padding-left: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    font-size: 10px;
    font-style: italic;
}

div#error{
    margin:auto;
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 11px;

    color: #555;

    background-color: #FFC2DA;
    border: 1px solid #DB4848;
}
