extends ../layout

block content
    h1= header
    form#formAddUser(name="adduser",method="post",action="add")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
<<<<<<< Updated upstream
        button#btnSubmit(type="submit") submit
=======
        button#btnSubmit(type="submit") submitc
>>>>>>> Stashed changes
