extends ../layout

block content
  h1= header

  form(name="addrestaurant",method="post",action="add")
        input(type="text", placeholder="name", name="name")
        input(type="text", placeholder="address", name="adress")
        input(type="text", placeholder="A1B 2C3", name="postal_code")
        input(type="text", placeholder="description", name="adress")
        button.sexybutton(type="submit") Create

